@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400;500;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Alegreya Sans", sans-serif;
}

body {
  background: #1e1e1e;
}

.light-mode body {
  background: #f7f7f7;
}

#app {
  width: 100vw;
  height: 100vh;
  background: #1e1e1e;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.light-mode #app {
  background: #f7f7f7;
}

#chat_container {
  flex: 1;
  width: 100%;
  height: 100%;
  overflow-y: scroll;

  display: flex;
  flex-direction: column;
  gap: 10px;

  -ms-overflow-style: none;
  scrollbar-width: none;

  padding-bottom: 20px;
  scroll-behavior: smooth;
}

#chat_container::-webkit-scrollbar {
  display: none;
}

.light-mode #chat_container {
  background-color: #f0f0f0;
}

.wrapper {
  width: 100%;
  padding: 15px;
}

.ai {
  background: #2b2b2b;
}

.chat {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
}

.profile {
  width: 36px;
  height: 36px;
  border-radius: 5px;

  background: #6f379d;

  display: flex;
  justify-content: center;
  align-items: center;
}

.ai {
  background: #5f7a6a;
}

.light-mode .chat .profile {
  background-color: #e6e6e6;
}

.light-mode .chat .message {
  background-color: #ffffff;
  color: #333333;
}

.profile img {
  width: 60%;
  height: 60%;
  object-fit: contain;
}

.message {
  flex: 1;

  color: #ffffff;
  font-size: 20px;

  max-width: 100%;
  overflow-x: scroll;

  white-space: pre-wrap;

  -ms-overflow-style: none;
  scrollbar-width: none;
}

.light-mode .message {
  background-color: #ffffff;
  color: #333333;
}

.message::-webkit-scrollbar {
  display: none;
}

form {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 10px;
  background: #3d3d3d;

  display: flex;
  flex-direction: row;
  gap: 10px;
}

.light-mode form {
  background: #f0f0f0;
  border: 1px solid #cccccc;
}

textarea {
  width: 100%;

  color: #ffffff;
  font-size: 18px;

  padding: 10px;
  background: #2b2b2b;
  border-radius: 5px;
  border: 1px solid #5d5d5d;
  outline: none;
}

.light-mode textarea {
  background-color: #ffffff;
  color: #333333;
  border: 1px solid #cccccc;
}

button {
  outline: 0;
  border: 0;
  cursor: pointer;
  background: transparent;
}

form img {
  width: 30px;
  height: 30px;
}

#toggle_btn {
  margin-top: 20px;
  padding: 10px;
  background: #6f379d;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
}

.light-mode #toggle_btn {
  background-color: #3d3d3d;
  color: #ffffff;
}

